@import url(reset.css);

@font-face {
  font-family: 'Giga Sans';
  src: url('LocomotypeGigaSansMedium.otf') format('opentype');
}

body {
  position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    font-family: 'Giga Sans', sans-serif;
    background-color: rgb(203, 232, 248);
}

/* -------------------------- NAVBAR ---------------------------- */
/* -------------------------- NAVBAR ---------------------------- */
/* -------------------------- NAVBAR ---------------------------- */
/* -------------------------- NAVBAR ---------------------------- */

.index-header {
    background-image: url('/images/image1-main.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;

    width: 100%;
    /* height: 65%; */
    /* min-height: 65%;
    max-height: 65%; */
    padding-top: 32rem; /* (img-height / img-width * container-width) */
                /* (853 / 1280 * 100) */

    display: flex;
    /* align-items: center; */
    justify-content: center;

    box-shadow: rgba(0, 0, 0, 0.4) 2000px 2000px 2000px 2000px inset;
}

.header-text {
    position: absolute;
    top: 0;
    margin-top: 11rem;
    font-weight: 700;
    font-size: 35px;
    max-width: 50%;
    color: whitesmoke;
    text-align: center;
}




/* -------------------------- NAVBAR ---------------------------- */
/* -------------------------- NAVBAR ---------------------------- */
/* -------------------------- NAVBAR ---------------------------- */
/* -------------------------- NAVBAR ---------------------------- */


/* -------------------------- BODY MAIN ----------------------------- */
/* -------------------------- BODY MAIN ----------------------------- */
/* -------------------------- BODY MAIN ----------------------------- */
/* -------------------------- BODY MAIN ----------------------------- */

.index-intro {
    margin-top: 37rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 60%;
    align-self: center;
    padding: 0 3rem;
}

.index-intro .slogan {
    /* font-size: 3rem; */
    font: normal bold 2.5rem sans-serif;
}
.index-intro .the-cartland {
    font: normal 200 1.3rem sans-serif;
    text-align: center;
}

.box-container-1 {

  position: relative;

  width: 100%;
  /* max-width: 800px; Adjust the max-width as needed */
  /* margin: 0 auto; */
  /* display: block; */
    /* display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 2rem 0;


    background-size: auto 100%; */
}

.gradient-holder {
  position: absolute;

  height: 60%;
  top: 20%;
  /* left: 0; */
  /* margin: 0; */
  width: 100%;
  transform: translateY(-50%);
  z-index: -1;
}

.box-gradient-1 {

  height: 100%;
  width: 100%;
  position: relative;
  
  top: 50%;
  left: 0;

  background: rgb(96,0,130);
  background: linear-gradient(90deg, rgba(96,0,130,1) 0%, rgba(159,47,142,1) 49%, rgba(0,210,252,1) 100%);
  z-index: -1;

  /* box-shadow: rgba(203, 232, 248, 0.9) 0 0 0.1rem 1.5rem inset; */

}

.desc-boxes-container1 {
  display: flex;
  justify-content:center;
  flex-direction: row;
  margin: 2rem 0;
}

.index-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31%;
    margin: 0 1rem;

    max-width: 450px;

    border: 0px solid blue;

    background-color: rgb(203, 232, 248);    

}

.index-box-header {
  text-align: center;
  color: whitesmoke;
  width: 100%;
  background-color: rgba(31, 31, 31, 0.8);

  font-size: 1.8rem;
  font-style: regular;


  padding: 0.5rem 0;
}


.index-box-main {
  flex: 0 0 58.333333%;
    max-width: 48.333333%;
    justify-content: center;
}

.box-text-holder {
  position: relative;
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  margin: 0 auto;
  padding: 1.5rem;
  /* border: 1px solid #ccc; */
  box-sizing: border-box;
 }

 .box-text-holder img {
  float: left;
  width: 30%;
  max-width: 5rem;
  height: 15%; 
  max-height: 5rem;
  margin-right: 10px;
  box-sizing: border-box;
 }


.index-box-text1 {
    font-size: 1.12rem;
}

.index-box-text3 {
    font-size: 1.12rem;
    list-style:disc;
    line-height: 1.3rem;

    padding: 0 1.3rem;
}

.index-box-text3 > li > p{

  margin-bottom: 0.5rem;
  margin-top: 0;

  padding: 0 1.3rem;
}

/* -------------------------- PLAN AND ATTEND ---------------------------- */
/* -------------------------- PLAN AND ATTEND ---------------------------- */
/* -------------------------- PLAN AND ATTEND ---------------------------- */

.box-container-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;

}

.index-box-p {
  position: relative;
  background-image: url('/images/plan1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  flex: 1 1 100%;

  /* width: 60rem; */
  max-width: 490px;
  min-width: 100px;
  padding-top: 10rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;

  margin-left: 10rem;
  margin-bottom: 6rem;

  cursor: pointer;

  border: none;
}

.index-box-p .hover-overlay-plan {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 2rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.index-box-att {
  position: relative;
  background-image: url('/images/attend1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  flex: 1 1 100%;
  max-width: 490px;
  min-width: 100px;
  padding-top: 10rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;

  margin-right: 10rem;
  margin-bottom: 6rem;

  cursor: pointer;

  border: none;
}

.index-box-att .hover-overlay-att {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 2rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.index-box-p:hover .index-box-header{
  filter: blur(2px);
}

.index-box-att:hover .index-box-header {
  filter: blur(2px);
}

.index-box-p:hover .hover-overlay-plan, .index-box-att:hover .hover-overlay-att{
  opacity: 1;
}

/* -------------------------- PLAN AND ATTEND ---------------------------- */
/* -------------------------- PLAN AND ATTEND ---------------------------- */
/* -------------------------- PLAN AND ATTEND ---------------------------- */


/* #################################################################################################### */

/* -------------------------- ACCOMODATION ------------------------------- */
/* -------------------------- ACCOMODATION ------------------------------- */
/* -------------------------- ACCOMODATION ------------------------------- */

.box-container-3 {

align-self: center;

margin-bottom: 5rem;
}



.index-box-hot {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 1rem;

  max-width: 600px;

  border: 1px solid rgba(31, 31, 31, 0.8);

  background-color: rgb(203, 232, 248);    

  overflow: hidden;
  transition: box-shadow 0.3s ease;
  cursor: pointer;


}

.index-box-text2 {
  padding: 1.5rem 4rem 1rem;
}

.index-box-hot:hover {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.8) inset;
}

.index-box-hot:hover .index-box-header, .index-box-hot:hover .index-box-image-hot, .index-box-hot:hover .index-box-text2{
  filter: blur(1.2px);
}


.index-box-hot .hover-overlay {
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 2rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.index-box-hot:hover .hover-overlay {
  opacity: 1;
}

.index-box-image-hot {
    background-image: url('/images/hotel-out-1.jpg');
    background-size: cover;
    background-position: center;

    width: 100%;
    min-height: 15rem;

    background-repeat: no-repeat;
}


/* ^^ -------------------------- ACCOMODATION ------------------------------- */
/* ^^ -------------------------- ACCOMODATION ------------------------------- */
/* ^^ -------------------------- ACCOMODATION ------------------------------- */




/* -------------------------- FOOTER ------------------------------- */
/* -------------------------- FOOTER ------------------------------- */
/* -------------------------- FOOTER ------------------------------- */
/* -------------------------- FOOTER ------------------------------- */

.site-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #352B2A;
  color: white;
  z-index: 5;
}

.site-footer .footer-holder {
  padding: 2rem 0 2rem 8.88rem;
  margin-right: 10rem;
}

.site-footer .footer-logo {
  max-width: 4rem;
  margin-bottom: 3rem;
}

.site-footer .footer-text-upper {
  max-width: 28.33rem;
  padding-bottom: 1.88rem;
}

.site-footer .footer-text-end {
  opacity: 0.5;
}

.footer-logo {
  margin-top: 3rem;
  margin-left: 1rem;
}

.footer-right {
  margin-right: 8rem;
  padding-left: 2rem;
  border-left: 1px solid white;

  align-items: center;
  /* justify-content: center; */
}

.footer-right > ul{
  margin-top: 1rem;
list-style: none;
}


/* ^^ -------------------------- FOOTER --------------------------------------------------------------- */
/* ^^ -------------------------- FOOTER --------------------------------------------------------------- */
/* ^^ -------------------------- FOOTER --------------------------------------------------------------- */
/* ^^ -------------------------- FOOTER ----------------------------------------------------------------*/


/* -------------------------- EVENT DETAILS ------------------------------- */
/* -------------------------- EVENT DETAILS ------------------------------- */
/* -------------------------- EVENT DETAILS ------------------------------- */


.details-fixed {
  position: fixed;
  width: 40%;
  top: 0;
  left: 0;
  margin: 5rem 0 0 0;

  padding: 7rem 0 120rem 6.5rem;

  color:#352B2A;

  background-color: rgb(203, 232, 248);

  border-right: 2px solid #352B2A;
  z-index: 1;
  
}

.details-date {
  font-size: 3rem;
  font-weight: 600;
}

.details-hall {
  font-size: 1.8rem;
  margin: 1.3rem 0;
}


.details-btn button{
  background-color:#352B2A;
  color: rgb(203, 232, 248);

  margin-top: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;

  font-size: 1.2rem;
  font-weight: 900;
  
}

.details-btn .disabled {
  cursor: not-allowed;
  color: red;
  background-color: rgb(203, 232, 248);
}

.details-right {
  margin: 11.1rem 0 15rem 35%;
  padding: 2rem 3rem 2rem 3rem;
  margin-left: 40%;
  width: 60%;
}

.details-fixed img {
  max-width: 5rem;
  margin-top: 3.5rem;
  
}

.dr-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.dr-organizer {
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
}

.dr-description {
  font-size: 1.1rem;
}


/* ^^^^^^ -------------------------- EVENT DETAILS ------------------------------- */
/* ^^^^^^ -------------------------- EVENT DETAILS ------------------------------- */
/* ^^^^^^ -------------------------- EVENT DETAILS ------------------------------- */


/*  -------------------------- CALENDAR BOOKING ------------------------------- */
/*  -------------------------- CALENDAR BOOKING ------------------------------- */
/*  -------------------------- CALENDAR BOOKING ------------------------------- */
/*  -------------------------- CALENDAR BOOKING ------------------------------- */

.cal-form {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.cal-container {
    display: flex;
    flex-direction: column;

    width: 100%;
    /*min-height: 100vh;*/

    margin-top: 2rem;

    padding: 0 2.7rem 6rem;
}

.cal-select-container {
    align-self: center;
    margin-top: 6rem;
}

.cal-select-date {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-height: 2.7rem;
    gap: 1.7rem;
}

.cal-select-info {
    text-align: center;
    color: rgb(203, 232, 248);
    font-size: 2rem;
    font-weight: 800;
}

.cal-y {
    padding: 1rem;
}

.cal-select-btn {
    padding: 1rem 2rem;
    background-color: rgb(203, 232, 248);
    color: rgba(31, 31, 31, 0.9);
    font-size: 1.5rem;
    font-weight: 700;
    /*border: none;*/
    border-radius: 0.5rem;
    text-align: center;
    border: 2px solid rgba(31, 31, 31, 1);

    display: flex;
}

.cal-select-btn span {
    align-self: center;
    justify-self: center;
}

.cal-select-btn:hover {
    background-color: rgba(31, 31, 31, 0.9);
    color: rgb(203, 232, 248);
    border: 2px solid rgb(203, 232, 248);
    cursor: pointer;
}

.cal-main {
  display: flex;
  flex-direction: row;
    flex: 1;
    padding: 20px;
    width: 100%;
}

.cal-main table {
  flex-grow: 1;
  width: 84%;
  border-collapse: separate;
  border-spacing: 0.5rem;
  padding-left: 2rem;
}

.booking-tracker {
  width: 16%;
  border-right: 2px solid #020101;
  color: white;
  margin-top: 3.5rem;
}

.tracker-item {
  margin-bottom: 20px;
}

.tracker-item span {
  font-weight: bold;
}

.tracker-item div {
  margin-top: 5px;
  max-width: 100%;
}

#tracker-event-name, #tracker-description, #tracker-organizer, #tracker-phone {
  overflow-wrap: break-word;
}

.cal-weekdays {
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
}

th, td {
    margin: 2rem;
    /*padding: 15px;*/
    text-align: center;
}
.day-cell {
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.day-cell:hover {
    background-color: #f0f0f0;
}

.ic-container {
  position: relative;
  width: 12.3rem;
  height: 6.2rem;
  padding: 2.2rem 2.1rem;
  background-color: rgb(203, 232, 248);
  color: rgba(31, 31, 31, 0.8);
  border: none;
}

.ic-container:hover {
    background-color: rgba(31, 31, 31, 0.8);
    color: rgb(203, 232, 248);
    cursor: pointer;
}

.ic-info {
  font-size: 0.8rem;
}

.hover-overlay-date {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(31, 31, 31, 0.98);
  font-size: 1rem;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.hover-overlay-date:hover {
  opacity: 1;
}

.disabled {
    background-color: rgba(99, 99, 99, 0.6);
    pointer-events: none;
}

.ic-day {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

/* ^^^^^^ -------------------------- CALENDAR BOOKING ------------------------------- */
/* ^^^^^^ -------------------------- CALENDAR BOOKING ------------------------------- */
/* ^^^^^^ -------------------------- CALENDAR BOOKING ------------------------------- */
/* ^^^^^^ -------------------------- CALENDAR BOOKING ------------------------------- */

/*  -------------------------- HALL DETAILS  ------------------------------- */
/*  -------------------------- HALL DETAILS  ------------------------------- */
/*  -------------------------- HALL DETAILS  ------------------------------- */
/*  -------------------------- HALL DETAILS  ------------------------------- */


.hall-desc-container {
    display: flex;
    flex-direction: column;
    margin: 8rem 15rem 5rem;
    gap: 1.8rem;

    align-items: center;
    padding-top: 2rem;
    border-top: 2px solid rgba(31, 31, 31, 0.8);
}

.h-name {
  font-size: 3rem;

}

.h-desc {
    background-color: rgba(31, 31, 31, 0.8);
    color: rgb(203, 232, 248);
    /*margin: 1rem 100%;*/
    padding: 2rem 100%;
    /*border-radius: 6px;*/
}

.h-desc p {
  text-align: center;
  font-size: 1.3rem;
    min-width: 72rem;
  /*margin: 0 15rem;*/
    margin: 0;
}

.hall-img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    margin: 0 5rem 7rem;

    justify-content: center;
}

.hall-img-container img {
    max-width: 25%;
    max-height: 15rem;
}


/* ^^^^^^^^ -------------------------- HALL DETAILS  ------------------------------- */
/* ^^^^^^^^ -------------------------- HALL DETAILS  ------------------------------- */
/* ^^^^^^^^ -------------------------- HALL DETAILS  ------------------------------- */
/* ^^^^^^^^ -------------------------- HALL DETAILS  ------------------------------- */

/*  ---------------------------------- HALL LIST-------------------------------------- */
/*  ---------------------------------- HALL LIST-------------------------------------- */
/*  ---------------------------------- HALL LIST-------------------------------------- */
/*  ---------------------------------- HALL LIST-------------------------------------- */

.h-list-background {
  height: 100%;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 30rem;

  z-index: 1;
  /* background: linear-gradient(90deg, rgba(96,0,130,1) 0%, rgba(159,47,142,1) 49%, rgba(0,210,252,1) 100%); */

  background-color: (203, 232, 248);

}

.hl-intro-container {
  z-index: 2;
  margin: 10rem 0 0;
  padding: 1.5rem 20%;

  display: flex;
  flex-direction: row;

  color: white;
  background-color: rgba(31, 31, 31, 0.8);
}

.h-list-intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.h-list-intro :nth-child(1) {
  font-size: 2.5rem;
}

.h-list-intro :nth-child(2) {
  font-size: 1.1rem;
}

.h-list-intro :nth-child(3) {
  font-size: 2rem;
  margin-top: 4rem;
}

.h-list-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-self: center;

  margin-bottom: 5rem;
}


.h-list-h {
  position: relative;
  align-self: center;
  text-align: center;
  z-index: 2;
  max-width: 57%;
    min-width: 20%;
  padding: 2rem 1rem;
  margin: 1.5rem 0;

  background-color: #352B2A;
background: linear-gradient(90deg, rgba(153,2,8,1) 0%, rgba(121,9,68,1) 53%, rgba(153,24,102,1) 100%);
  color: white;
  border: none;
  border-radius: 0.7rem;
}

/* .h-list-h:hover {

  background-color: #f0f0f0;
  color: #352B2A;
  border-radius: 1rem;

  cursor: pointer;
  border: 2px solid black;
} */

.h-list-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(31, 31, 31, 0.98);
  font-size: 2rem;
  opacity: 0;
  transition: opacity 0.2s ease;
  border: none;
  border-radius: 0.7rem;

}

.h-list-overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.h-list-h :nth-child(2) {
  font-size: 1.9rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.h-list-h :nth-child(3) {
  font-size: 1.1rem;
  font-weight: 900;
}

.h-list-h:last-child {
  margin-bottom: 3rem;
}




/*  ^^^^^-------------------------------- HALL LIST-------------------------------------- */
/*  ^^^^^-------------------------------- HALL LIST-------------------------------------- */
/*  ^^^^^-------------------------------- HALL LIST-------------------------------------- */
/*  ^^^^^-------------------------------- HALL LIST-------------------------------------- */


/*  ----------------------------------  FINALIZE BOOKING -------------------------------------- */
/*  ----------------------------------  FINALIZE BOOKING -------------------------------------- */
/*  ----------------------------------  FINALIZE BOOKING -------------------------------------- */
/*  ----------------------------------  FINALIZE BOOKING -------------------------------------- */

.bc-main-container {

  justify-self: center;
  align-self: center;
  text-align: center;
  color: white;
  margin-top: 10%;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-left: 2px solid rgb(203, 232, 248);
  border-right: 2px solid rgb(203, 232, 248);
}

.bc-event-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.3rem;
}

.bc-event-info :nth-child(1) {
  font-size: 1.6rem;
  font-weight: 700;
}

.bc-submit {
  margin-top: 2rem;
  max-width: 65%;
}

.bc-submit button {
  margin-top: 1rem;
  padding: 1.5rem 2rem;

  font-size: 1.5rem;
  font-weight: 800;
  cursor: pointer;
  background-color:rgba(226, 10, 118, 0.7);
  color: white;
  border-radius: 0.6rem;
  border: none;
  letter-spacing: 0.2rem;
}

.bc-submit button:hover {
  background-color: rgba(21, 169, 255, 1);
}


/*  ^^^^ --------------------------------  FINALIZE BOOKING -------------------------------------- */
/*  ^^^^ --------------------------------  FINALIZE BOOKING -------------------------------------- */
/*  ^^^^ --------------------------------  FINALIZE BOOKING -------------------------------------- */
/*  ^^^^ --------------------------------  FINALIZE BOOKING -------------------------------------- */


/*  ----------------------------------  EVENT PLAN  -------------------------------------- */
/*  ----------------------------------  EVENT PLAN  -------------------------------------- */
/*  ----------------------------------  EVENT PLAN  -------------------------------------- */
/*  ----------------------------------  EVENT PLAN  -------------------------------------- */

.ep-header {
  background-image: url('/images/background-lobby1.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;

  width: 100%;
  /* height: 65%; */
  /* min-height: 65%;
  max-height: 65%; */
  padding-top: 28rem; /* (img-height / img-width * container-width) */
              /* (853 / 1280 * 100) */

  display: flex;
  /* align-items: center; */
  justify-content: center;

  box-shadow: rgba(0, 0, 0, 0.616) 2000px 2000px 2000px 2000px inset;
}

.ep-header-btn {
  position: absolute;
  top: 0;
  margin-top: 11rem;
  font-weight: 700;
  font-size: 3rem;
  max-width: 50%;
  color: whitesmoke;
  text-align: center;
  border: none;
}

.ep-booknow {
  cursor: pointer;

  border-radius: 0.4rem;
  background-color: rgba(241, 31, 189, 0.76);
  padding: 0.5rem 1.3rem;
  border: none;
}

.ep-booknow:hover {
  background-color: rgb(255, 34, 200);
}

.ep-main-container {
  margin-top: 28rem;
  margin-bottom: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 60%;
  align-self: center;
  padding: 4rem 3rem;

  gap: 1rem;
  text-align: center;
  font-size: 1.2rem;

  border-left: 2px solid #352B2A;
  border-right: 2px solid #352B2A;
  background-color: rgb(203, 232, 248);
}

.ep-main-container div {
  position: relative;
  padding: 2rem 1.5rem;
  font-weight: 700;
}

.ep-main-container p {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 1.5rem;
}


.ep-info-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(31, 31, 31, 0.98);
  font-size: 2rem;
  opacity: 0;
  transition: opacity 0.2s ease;
  border: none;
  border-radius: 0.7rem;

}

.ep-info-overlay:hover {
  opacity: 1;
  cursor: pointer;
}

/*  ^^^^^ ----------------------------------  EVENT PLAN  -------------------------------------- */
/*  ^^^^^ ----------------------------------  EVENT PLAN  -------------------------------------- */
/*  ^^^^^ ----------------------------------  EVENT PLAN  -------------------------------------- */
/*  ^^^^^ ----------------------------------  EVENT PLAN  -------------------------------------- */


/*  ----------------------------------  ERROR PAGE/S  -------------------------------------- */
/*  ----------------------------------  ERROR PAGE/S  -------------------------------------- */

.err-home {
  margin-top: 2rem;
  max-width: 20rem;
  align-self: center;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: rgb(203, 232, 248);
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
}

/* ^^^^^ ----------------------------------  ERROR PAGE/S  -------------------------------------- */
/* ^^^^^ ----------------------------------  ERROR PAGE/S  -------------------------------------- */


/* -----------------------------------------  BUY TICKET  -------------------------------------- */
/* -----------------------------------------  BUY TICKET  -------------------------------------- */
/* -----------------------------------------  BUY TICKET  -------------------------------------- */
/* -----------------------------------------  BUY TICKET  -------------------------------------- */



.bt-left {
  position: absolute;
  width: 40%;
  top: 0;
  left: 0;
  margin: 5rem 0 0 0;

  padding: 7rem 2rem 20rem 6.5rem;

  color:#352B2A;

  background-color: rgb(203, 232, 248);

  border-right: 2px solid #352B2A;
  z-index: 1;
  
}

.bt-left .details-date {
  font-size: 2rem;
  font-weight: 600;
}

.details-hall {
  font-size: 1.8rem;
  margin: 1.3rem 0;
  font-weight: 500;
}

.details-name {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}


.details-btn button{
  background-color:#352B2A;
  color: rgb(203, 232, 248);

  margin-top: 0.5rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;

  font-size: 1.2rem;
  font-weight: 900;
  
}

.bt-right {
  margin: 9rem 0 7rem 35%;
  padding: 2rem 8rem 2rem 3rem;
  margin-left: 40%;
  width: 60%;
}

.dr-description {
  font-size: 1.1rem;
}

.bt-last-input {
  margin-top: 1rem;
}


/* ^^^^^ ---------------------------------------  BUY TICKET  -------------------------------------- */
/* ^^^^^ ---------------------------------------  BUY TICKET  -------------------------------------- */
/* ^^^^^ ---------------------------------------  BUY TICKET  -------------------------------------- */
/* ^^^^^ ---------------------------------------  BUY TICKET  -------------------------------------- */

/* ------------------------------------------  ATTEND EVENT PAGE  -------------------------------------- */
/* ------------------------------------------  ATTEND EVENT PAGE  -------------------------------------- */
/* ------------------------------------------  ATTEND EVENT PAGE  -------------------------------------- */
/* ------------------------------------------  ATTEND EVENT PAGE  -------------------------------------- */




.att-intro {
  z-index: 1;
  margin-top: 10rem;
  color: rgb(216, 242, 255);
  align-self: center;
  max-width: 65%;

  font-size: 2rem;

  text-align: center;
}

.att-container {
  z-index: 1;
  color: #352B2A;
  margin: 15rem 5rem 5rem;

  display: flex;
  text-align: center;

  flex: 1 0 100%;
}

.att-container h2 {
  font-size: 2.2rem;
  font-weight: 700;
}

.att-left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-right: 2px solid blueviolet;
  min-width: 50%;
  width: 50vw;
  /* width: 50%; */
}

.att-right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 50%;
  /* width: 50%; */

}

.att-left div, .att-right div {
  max-width: 70%;
  font-size: 1.2rem;
  font-weight: 700;
  align-self: center;
}

.att-clickable {
  position: relative;
  margin-top: 4rem;
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}



.att-clickable :nth-child(2), .att-clickable :nth-child(3) {
  z-index: 5;
}


.att-clickable-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(31, 31, 31, 0.8);
  font-size: 2rem;
  opacity: 0;
  transition: opacity 0.2s ease;
  border: none;
  border-radius: 0.7rem;
  z-index: 6;

}

.att-clickable-overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.att-event-btn {
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #f0f0f0;
    cursor: pointer;
    max-width: fit-content;
}

.att-event-btn:hover {
  background-color: #9b9b9b;
  color: white;
}


/* ^^^^^----------------------------------------  ATTEND EVENT PAGE  -------------------------------------- */
/* ^^^^^----------------------------------------  ATTEND EVENT PAGE  -------------------------------------- */
/* ^^^^^----------------------------------------  ATTEND EVENT PAGE  -------------------------------------- */
/* ^^^^^----------------------------------------  ATTEND EVENT PAGE  -------------------------------------- */

/* ------------------------------------------  FEATURED EVENTS  -------------------------------------- */
/* ------------------------------------------  FEATURED EVENTS  -------------------------------------- */
/* ------------------------------------------  FEATURED EVENTS  -------------------------------------- */
/* ------------------------------------------  FEATURED EVENTS  -------------------------------------- */


.e-list-background {
  height: 100%;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 30rem;

  z-index: 1;
  /* background: linear-gradient(90deg, rgba(96,0,130,1) 0%, rgba(159,47,142,1) 49%, rgba(0,210,252,1) 100%); */

  background-color: rgb(203, 232, 248);

}

.el-intro-container {
  z-index: 2;
  margin: 7rem 0 0;
  padding: 1.5rem 20%;

  display: flex;
  flex-direction: row;

  color: white;
  background-color: rgba(31, 31, 31, 0.8);
}

.e-list-intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.e-list-intro :nth-child(1) {
  font-size: 2.5rem;
}

.e-list-intro :nth-child(2), .e-list-intro :nth-child(3) {
  font-size: 1.2rem;
}

.e-list-intro :nth-child(4) {
  font-size: 2rem;
  margin-top: 4rem;
}

.e-list-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-self: center;

  margin-bottom: 5rem;

  min-width: 70%;
}


.e-list-h {
  position: relative;
  align-self: center;
  text-align: center;
  z-index: 2;
  min-width: 90%;
  max-width: 90%;
  padding: 2rem 1rem;
  margin: 1.5rem 0;

  background-color: #352B2A;
background: linear-gradient(90deg, rgb(2, 153, 10) 0%, rgb(46, 175, 175) 53%, rgb(88, 86, 207) 100%);
  color:rgba(31, 31, 31, 1);
  border: none;
  border-radius: 0.7rem;
}

/* .h-list-h:hover {

  background-color: #f0f0f0;
  color: #352B2A;
  border-radius: 1rem;

  cursor: pointer;
  border: 2px solid black;
} */

.e-list-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(31, 31, 31, 0.98);
  font-size: 2rem;
  opacity: 0;
  transition: opacity 0.2s ease;
  border: none;
  border-radius: 0.7rem;

}

.e-list-overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.e-name {
  font-size: 1.8rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

.e-organ {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.9rem;
}

.e-date {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1.7rem;
}

.e-desc {
  font-weight: 500;
  font-size: 1.2rem;
}



/*  ^^^^^----------------------------------------  FEATURED EVENTS  -------------------------------------- */
/*  ^^^^^----------------------------------------  FEATURED EVENTS  -------------------------------------- */
/*  ^^^^^----------------------------------------  FEATURED EVENTS  -------------------------------------- */
/*  ^^^^^----------------------------------------  FEATURED EVENTS  -------------------------------------- */


/*  ----------------------------------------  USER PANEL  -------------------------------------- */
/*  ----------------------------------------  USER PANEL  -------------------------------------- */
/*  ----------------------------------------  USER PANEL  -------------------------------------- */
/*  ----------------------------------------  USER PANEL  -------------------------------------- */

.u-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
    margin-top: 6rem;
    margin-bottom: 10rem;
}

.u-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;

  background-image: url('/images/background1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  box-shadow: rgba(0, 0, 0, 0.5) 2000px 2000px 2000px 2000px inset;

  z-index: -1;
  filter: blur(4px);
}

.u-panel-container {
  padding-top: 2.5rem;
  color: rgb(203, 232, 248);
  background-color: rgba(31, 31, 31, 0.9);
  border-radius: 0.7rem;
  width: 35%;
  min-height: 20rem;

  font-size: 1.3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.u-btn-holder {
  margin-top: 1.5rem;
  display: flex;
  gap: 2rem;
}

.u-btn-holder .up-btn{
  padding: 0.8rem 1rem;
  background-color: rgb(161, 183, 196);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;

  font-size: 1rem;
  font-weight: 500;
}

.u-btn-holder .up-btn:hover{
  background-color: rgb(224, 244, 255);
}


/*  ^^^^^--------------------------------------  USER PANEL  -------------------------------------- */
/*  ^^^^^--------------------------------------  USER PANEL  -------------------------------------- */
/*  ^^^^^--------------------------------------  USER PANEL  -------------------------------------- */
/*  ^^^^^--------------------------------------  USER PANEL  -------------------------------------- */

/*  ----------------------------------------  USER EDIT  -------------------------------------- */
/*  ----------------------------------------  USER EDIT  -------------------------------------- */
/*  ----------------------------------------  USER EDIT  -------------------------------------- */

.u-edit-container {
  padding-top: 2.5rem;
  color: rgb(203, 232, 248);
  background-color: rgba(31, 31, 31, 0.9);
  border-radius: 0.7rem;
  width: 35%;
  min-height: 25rem;

  font-size: 1.3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.u-input {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60%;

}

.u-input label{
  font-size: 1rem;
  opacity: 0.6;
}

.u-input input {
  font-size: 1.5rem;
}

.ec-btn {
  color: #020101;
}


/*  ^^^--------------------------------------  USER EDIT  -------------------------------------- */
/*  ^^^--------------------------------------  USER EDIT  -------------------------------------- */
/*  ^^^--------------------------------------  USER EDIT  -------------------------------------- */

/*  ----------------------------------------  MY EVENTS  -------------------------------------- */
/*  ----------------------------------------  MY EVENTS  -------------------------------------- */
/*  ----------------------------------------  MY EVENTS  -------------------------------------- */
/*  ----------------------------------------  MY EVENTS  -------------------------------------- */

.booking-list {
  margin: 7rem 20rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 3rem 1rem;
  gap: 3rem;
}

.booking-list > div:nth-child(1){
  font-size: 2rem;
}

.booking-container {
  width: 50%;
  padding-bottom: 1rem;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.booking-content :nth-child(2) {
  margin-bottom: 1rem;
}

.mb-btn {
  margin-top: 1rem;
  margin-left: 40%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  /* this doesn't work for some reason */
  /* padding: 1rem, 2rem; */

  cursor: pointer;
  background-color: rgb(0, 173, 173);
  border: none;
  border-radius: 0.6rem;

}

.mb-btn:hover{
  background-color: rgb(0, 255, 255);
}


/*  ^^^^^------------------------------------  MY EVENTS  -------------------------------------- */
/*  ^^^^^------------------------------------  MY EVENTS  -------------------------------------- */
/*  ^^^^^------------------------------------  MY EVENTS  -------------------------------------- */
/*  ^^^^^------------------------------------  MY EVENTS  -------------------------------------- */


/*  ----------------------------------------  ADMIN PANEL  -------------------------------------- */
/*  ----------------------------------------  ADMIN PANEL  -------------------------------------- */
/*  ----------------------------------------  ADMIN PANEL  -------------------------------------- */
/*  ----------------------------------------  ADMIN PANEL  -------------------------------------- */

.a-label {
  padding-bottom: 1.3rem;
}



/*  ^^^^-------------------------------------  ADMIN PANEL  -------------------------------------- */
/*  ^^^^-------------------------------------  ADMIN PANEL  -------------------------------------- */
/*  ^^^^-------------------------------------  ADMIN PANEL  -------------------------------------- */
/*  ^^^^-------------------------------------  ADMIN PANEL  -------------------------------------- */
