@import url(reset.css);

@font-face {
    font-family: 'Giga Sans';
    src: url('LocomotypeGigaSansMedium.otf') format('opentype');
  }

body {
    position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
  
      font-family: 'Giga Sans';
      background-color: rgb(203, 232, 248);
  }

.nav-bar {
    /* margin: 2em 0 2em 0; */
    margin: 0;
    /* padding: 0.5rem; */

    position: fixed;
    top: 0;
    left: 0;
    color: white;
    flex-wrap: wrap;
    width: 100%;
    z-index: 10;
    /* height: 100%; */
}

.shadow-overlay {
    background-size: 100% 95px;
    background-image: url('/images/shadow-nav2.png');
    padding: 0;
    height: 95px;
}


.nav-bar .header-nav{

    flex: 1 0 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content:space-between;
    min-height: 100;
    
}

.btn-holder {
    height: 5rem;
    /* min-height: 100; */
    /* max-width: fit-content; */
    align-content: center;

}
.btn-holder form {
    height: 100%;
}

.nav-button {
    min-height: 100%;
    flex: 1 0 100%;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 1em;
    font-weight: 800;

    padding: 0 1.5rem;
}

.nav-button:hover {

    background-color: rgb(203, 232, 248);
    color: rgba(31, 31, 31, 0.9);
}

.cc-logo {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    margin-left: 50px;
}

.language-select {
    background-color: transparent;
    border: 0;
    cursor: pointer;

    display: flex;
    

    /* margin-left: 2rem; */

    max-width: 44%;

}

.halls {
    margin-left: 5rem;
}

.btn-logout {
    min-height: 100%;
}

.btn-right {
    margin-left: 7rem;
}

.btn-acc {
    max-width: 10rem;
    padding: 0 0.7rem;
}

.btn-acc div {
    text-overflow: ellipsis;
    overflow: hidden;
}

.nav-email {
    font-size: 0.9rem;
    font-weight: 400;
}

.lang-div {
    display: flex;
    justify-content: center;
}