<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Month Calendar</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/background.css" />
</head>
<body>
<div class="background-overlay"></div>
<nav class="nav-bar">
    <div class="shadow-overlay">
        <ul class="header-nav">
            <li class="btn-holder"><button class="cc-logo"><img src="\static\images\cc-logo.png" alt="img"></li>
            <li class="btn-holder halls"><button class="nav-button">Halls</button></li>
            <li class="btn-holder"><button class="nav-button">Featured Events</button></li>
            <li class="btn-holder"><button class="nav-button">Plan Your Event</button></li>
            <li class="btn-holder login"><button class="nav-button">Login</button></li>
            <li class="btn-holder register"><button class="nav-button">Register</button></li>

            <li class="btn-holder">
                <div class="lang-div">
                    <button class="language-select">
                        <img src="\static\images\lang-uk.png" alt="img">
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="cal-select-container">
    <h2 class="cal-select-info">Select Month and Year</h2>
    <form id="calendarForm" method="get" action="/calendar" class="cal-form">
        <input class="cal-y"
               type="number"
               id="yearInput"
               th:name="year"
               min="2024"
               max="2100"
               placeholder="Year"
               required>
        <select id="monthInput"
                th:name="month"
                class="cal-m"
                required>
            <option value="">- Select Month -</option>
                <option th:each="month : ${months}"
                        th:text="${month.getName()}"
                        th:value="${month.getNumber()}"
                >Month</option>
        </select>
        <button type="submit" class="cal-select-btn">
            <span>Select</span>
        </button>
    </form>
</div>

<div class="cal-container">
    <main class="cal-main">
        <table>
            <thead>
            <tr class="cal-weekdays">
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="week : ${weeks}">
                <td th:each="day : ${week}"
                    th:class="${day.disabled} ? 'day-cell disabled' : 'day-cell'"
                    th:onclick="!${day.disabled} ? 'window.location.href=\'/action/' + ${day.dayOfMonth} + '\';' : ''">
                    <div th:class="${day.disabled} ? 'ic-container disabled' : 'ic-container'">
                        <div class="ic-info">Some info?</div>
                        <div class="ic-day" th:text="${day.dayOfMonth}"></div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
</div>
<footer class="site-footer">
    <div class="footer-holder">
        <figure class="footer-logo"><img src="\static\images\cc-logo.png" alt="img"></figure>
        <p class="footer-text-upper">
            The Cartland Convention Center is owned and proudly managed by Highland Holdings. We leverage the skills and talant of our
            partners to ensure an exciting and sustainable future.
        </p>
        <p class="footer-text-end">
            © Copyright 2024 the Cartland Center.
        </p>
    </div>
    <div class="footer-logo">
        <img src="\static\images\green-logo.png" alt="greenlogo">
    </div>
    <div class="footer-right">
        <ul>
            <li>
                <p>Contact Us</p>
            </li>
            <li>
                <p>Sustainability</p>
            </li>
            <li>
                <p>FAQs</p>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>