<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="\css\bootstrap.min.css" />
    <link rel="stylesheet" href="\static\css\reset.css" />
    <link rel="stylesheet" href="\static\css\navbar.css" />
    <link rel="stylesheet" href="\static\css\main.css" />
    <link rel="stylesheet" href="\static\css\background.css" />

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/main.css" />

    <title>Booking Created</title>
    <style>
        .bc-main-container {
            border: none;
            margin-top: 15%;
            border: none;
        }

    </style>
</head>
<body>

<div class="background-overlay"></div>
<nav class="nav-bar">
    <div class="shadow-overlay">
        <ul class="header-nav">
            <li class="btn-holder"><button class="cc-logo"><img src="\static\images\cc-logo.png" alt="img"></li>
            <li class="btn-holder halls"><button class="nav-button">Halls</button></li>
            <li class="btn-holder"><button class="nav-button">Featured Events</button></li>
            <li class="btn-holder"><button class="nav-button">Plan Your Event</button></li>
            <li class="btn-holder login"><button class="nav-button">Login</button></li>
            <li class="btn-holder register"><button class="nav-button">Register</button></li>

            <li class="btn-holder">
                <div class="lang-div">
                    <button class="language-select">
                        <img src="\static\images\lang-uk.png" alt="img">
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="bc-main-container">
    <div class="bc-event-info">
        <div class="error-msg"
        th:text="${message}">
            Ooops... We have encountered an issue. We are working hard to resolve this. Sorry..
        </div>
        <button class="err-home"
                th:onclick="'window.location.href=\'/event/attend' + '\';'"> TRY AGAIN </button>
        <button class="err-home"
                th:onclick="'window.location.href=\'/' + '\';'"> GO TO HOMEPAGE </button>
    </div>
</div>


</body>
</html>




