<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\css\reset.css" />
    <link rel="stylesheet" href="\static\css\navbar.css" />
    <link rel="stylesheet" href="\static\css\main.css" />

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Login</title>
    <style>
        .e-code {
            margin-bottom: 1.5rem;
        }

        .e-desc {
            font-size: 1.2rem;
            height: 6rem;
        }
        .u-edit-container {
            width: 65%;
        }
    </style>
</head>
<body>

  <div class="u-background-overlay"></div>
    <header>
        <nav class="nav-bar">
            <div class="shadow-overlay">
                <ul class="header-nav">
                    <li class="btn-holder"><button class="cc-logo"><img src="\static\images\cc-logo.png" alt="img"></li>
                    <li class="btn-holder"><button class="nav-button">Halls</button></li>
                    <li class="btn-holder"><button class="nav-button">Featured Events</button></li>
                    <li class="btn-holder"><button class="nav-button">Accomodation</button></li>
                    <li class="btn-holder"><button class="language-select"><img src="\static\images\lang-uk.png" alt="img"></li>
                </ul>
            </div>
        </nav>
    </header>


    <div class="u-main-container">
            <form class="u-edit-container"
                  th:action="@{/event/edit}"
                  th:method="POST"
                  th:object="${eventDTO}">
                <input type="hidden" name="uuid" th:value="${eventDTO.getUuid()}">
                <input type="hidden" name="date" th:value="${eventDTO.getDate()}">
                <input type="hidden" name="hallName" th:value="${eventDTO.getHallName()}">
                <div class="u-input">
                    <label class="input-label">
                        Hall
                    </label>
                    <div th:text="${eventDTO.getDateString()}"></div>
                </div>
                <div class="u-input">
                    <label class="input-label">
                        Event Code
                    </label>
                    <div th:text="*{hallName}"></div>
                </div>
                <div class="u-input">
                    <label for="name" class="input-label">
                        Event Name
                    </label>
                    <input 
                             type="text"
                             th:name="name"
                             th:field="*{name}"
                            id="name"
                            class="input-field"
                    />
                </div>
                <div class="u-input">
                    <label for="description" class="input-label">
                        Description
                    </label>
                      <textarea class="e-desc" 
                             type="text"
                             th:name="description"
                             th:field="*{description}"
                            id="description"
                      ></textarea>
                </div>
                <div class="u-input">
                    <label for="organizer" class="input-label">
                        Organizer
                    </label>
                    <input 
                             type="text"
                             th:name="organizer"
                             th:field="*{organizer}"
                            id="organizer"
                            class="input-field"
                    />
                </div>
                <div class="u-input">
                    <label for="phoneNumber" class="input-label">
                        Organizer Contact Number
                    </label>
                    <input 
                             type="text"
                             th:name="phoneNumber"
                             th:field="*{phoneNumber}"
                            id="phoneNumber"
                            class="input-field"
                    />
                </div>
                <div class="u-input">
                    <label class="input-label">
                        Hall
                    </label>
                    <div th:text="*{hallName}"></div>
                </div>
                <div class="u-btn-holder">
                    <a class="up-btn ec-btn"
                            th:onclick="'window.location.href=\'/account/bookings' + '\';'">
                        Back To Bookings
                    </a>
                    <button class="up-btn" type="submit">
                        Submit
                    </button>
                </div>
            </form>
    </div>

    <footer class="site-footer">
        <div class="footer-holder">
            <figure class="footer-logo"><img src="/images/cc-logo.png" alt="img"></figure>
            <p class="footer-text-upper">
                The Cartland Convention Center is owned and proudly managed by Highland Holdings. We leverage the skills
                and talant of our
                partners to ensure an exciting and sustainable future.
            </p>
            <p class="footer-text-end">
                © Copyright 2024 the Cartland Center.
            </p>
        </div>
        <div class="footer-logo">
            <img src="/images/green-logo.png" alt="greenlogo">
        </div>
        <div class="footer-right">
            <ul>
                <li>
                    <p>Contact Us</p>
                </li>
                <li>
                    <p>Sustainability</p>
                </li>
                <li>
                    <p>FAQs</p>
                </li>
            </ul>
        </div>
    </footer>

</body>
</html>





