<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="\css\bootstrap.min.css" />
    <link rel="stylesheet" href="\static\css\reset.css" />
    <link rel="stylesheet" href="\static\css\navbar.css" />
    <link rel="stylesheet" href="\static\css\main.css" />
    <link rel="stylesheet" href="\static\css\background.css" />

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/main.css" />

    <title>Booking Created</title>
    <style>
        .bc-main-container {
            border: none;
            margin-top: 15%;
            border: none;
        }

    </style>
</head>
<body>

<div class="background-overlay"></div>
<div th:replace="~{fragments/navbar}"></div>

<div class="bc-main-container">
    <div class="bc-event-info">
        <div class="error-msg">
            Ooops... We have encountered an issue. We are working hard to resolve this. Sorry..
        </div>
        <button class="err-home"
                th:onclick="'window.location.href=\'/' + '\';'"> GO TO HOMEPAGE </button>
    </div>
</div>


</body>
</html>




