<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="\static\css\bootstrap.min.css" />
    <link rel="stylesheet" href="\static\css\main.css" />
    <link rel="stylesheet" href="\static\css\navbar.css" />

      <link rel="stylesheet" href="/css/bootstrap.min.css" />
      <link rel="stylesheet" href="/css/main.css" />
      <link rel="stylesheet" href="/css/navbar.css" />
</head>
<body>
    
    <div class="e-list-background"></div>
    <nav class="nav-bar">
        <div class="shadow-overlay">
            <ul class="header-nav">
                <li class="btn-holder"><button class="cc-logo"><img src="\static\images\cc-logo.png" alt="img"></li>
                <li class="btn-holder halls"><button class="nav-button">Halls</button></li>
                <li class="btn-holder"><button class="nav-button">Featured Events</button></li>
                <li class="btn-holder"><button class="nav-button">Plan Your Event</button></li>
                <li class="btn-holder login"><button class="nav-button">Login</button></li>
                <li class="btn-holder register"><button class="nav-button">Register</button></li>

                <li class="btn-holder">
                    <div class="lang-div">
                        <button class="language-select">
                            <img src="\static\images\lang-uk.png" alt="img">
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="el-intro-container">
        <div class="e-list-intro">
            <div> Discover What's Happening at Cartland Center </div>
            <div>
                Welcome to our Featured Events page! Here, we showcase a curated selection of the most exciting public events happening at Cartland Convention Center. From live performances and art exhibitions to educational seminars and community festivals, there's something for everyone. Our featured events are handpicked to offer you the best experiences our venue has to offer.
            </div>
            <div>
                Interested in attending? Simply browse through our list of featured events below, click on the one that catches your eye, and purchase your tickets directly from the event page. Don’t forget to check the details, including date, time, and venue, to make sure you don’t miss out.
            </div>
            <div>What’s On</div>
        </div>
    
    </div>

    <div></div>

    <div class="e-list-container">
        <div class="e-list-h"
             th:each="event : ${events}">
            <form th:action="@{/event/search}">
                <input type="hidden" name="eventCode" th:value="${event.getUuidString()}">
            <button class="e-list-overlay"
            > Click For Details</button>
                <div class="e-name" th:text="${event.getName()}"> EVENT NAME </div>
                <div class="e-organ" th:text="${event.getOrganizer()}"> ORGANIZER </div>
                <div class="e-date" th:text="${event.getDateString()}"> EVENT DATE </div>
                <div class="e-desc" th:text="${event.getDescription()}"> EVENT DESCRIPTION </div>

            </form>
        </div>
    </div>



    <footer class="site-footer">
        <div class="footer-holder">
            <figure class="footer-logo"><img src="\static\images\cc-logo.png" alt="img"></figure>
            <p class="footer-text-upper">
                The Cartland Convention Center is owned and proudly managed by Highland Holdings. We leverage the skills and talant of our
                partners to ensure an exciting and sustainable future.
            </p>
            <p class="footer-text-end">
                © Copyright 2024 the Cartland Center.
            </p>
        </div>
        <div class="footer-logo">
            <img src="\static\images\green-logo.png" alt="greenlogo">
        </div>
        <div class="footer-right">
            <ul>
                <li>
                    <p>Contact Us</p>
                </li>
                <li>
                    <p>Sustainability</p>
                </li>
                <li>
                    <p>FAQs</p>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>