<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org/"
        xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="globals.css" /> -->
    <link rel="stylesheet" href="\static\css\bootstrap.min.css" />
    <link rel="stylesheet" href="\static\css\main.css" />
    <link rel="stylesheet" href="\static\css\navbar.css" />

      <link rel="stylesheet" href="/css/bootstrap.min.css" />
      <link rel="stylesheet" href="/css/main.css" />
      <link rel="stylesheet" href="/css/navbar.css" />

    <title>Index</title>
  </head>
  <body>

        <div class="index-header">
            <div class="header-text">
                <p class="header-msg">BRING THE FUTURE TO YOU</p>
            </div>
        </div>

        <nav class="nav-bar">
            <div class="shadow-overlay">
                <ul class="header-nav">
                    <li class="btn-holder"><button class="cc-logo"
                    th:onclick="'window.location.href=\'/' + '\';'"><img src="/images/cc-logo.png" alt="img"></li>
                    <li class="btn-holder halls">
                        <button class="nav-button"
                                th:onclick="'window.location.href=\'/halls' + '\';'">Halls</button></li>
                    <li class="btn-holder"><button class="nav-button"
                    th:onclick="'window.location.href=\'/events/featured' + '\';'">Featured Events</button></li>
                    <li class="btn-holder">
                        <button class="nav-button"
                                th:onclick="'window.location.href=\'/event/plan' + '\';'">Plan Your Event</button></li>
                    <li class="btn-holder">
                        <button class="nav-button"
                                th:onclick="'window.location.href=\'/event/attend' + '\';'">Attend</button></li>
                    <li class="btn-holder login"
                    sec:authorize="!isAuthenticated()">
                        <button class="nav-button"
                                th:onclick="'window.location.href=\'/user/login' + '\';'">Login</button></li>
                    <li class="btn-holder register"
                        sec:authorize="!isAuthenticated()">
                        <button class="nav-button"
                                th:onclick="'window.location.href=\'/user/register' + '\';'">Register</button></li>

                    <li class="btn-holder">
                        <div class="lang-div">
                            <button class="language-select">
                                <img src="/images/lang-uk.png" alt="img">
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>


    <div class="index-intro">
        <div class="slogan">
            <p>The place for new ideas</p>
        </div>
        
        <p class="the-cartland">
          The Cartland Convention Center&#39;s breathtaking design welcomes travelers of all markets into a
          comfortable setting of beautifully rich architecture.
        </p>
    </div>

    <div class="box-container-1">
        <div class="gradient-holder">
            <div class="box-gradient-1"></div>
        </div>
        <div class="desc-boxes-container1">
            <div class="index-box index-box-main">
                <!-- <div class="index-box-header">Overview</div> -->

                <div class="box-text-holder">
                    <img src="\static\images\logo2.png" alt="logoimg">
                    <p class="index-box-text1">
                        The newest and most modern Convention center Cartland spans 2200 square meters and
                        offers a well planned and equipped complex of 5 halls with a combined seating capacity of
                        1200 seats. One underground and one overground parking and additional entrance
                        for large decor pieces and equipment. Catering available from two restaurants. The halls can
                        be used for conferences, seminars, meetings, entertainment events,
                        presentations, weddings, and others. Four of the five halls can host training
                        sessions and other events connected to physical activities.
                      </p>
                </div>
            </div>
    
            <div class="index-box">
                <!-- <p class="index-box-header">Why to book with us?</p> -->
    
                <!-- <p class="index-box-text3">
                    - Convenient access in proximity to highway 30 <br />
                    - 5 different halls suitable for almost any event <br />
                    - Combined capacity of 1234 seats <br />
                    - Largest hall capacity 550 seats <br />
                    - Modern design and convenient planning <br />
                    - Well ventilated and air-conditioned halls <br />
                    - Closed in-doors connection with hotel Steel’s<br />
                    - High-band with internet connection <br />
                    - Projectors and screens available for all halls <br />
                    - Professional audio system
                </p> -->
                    <ul class="index-box-text3">
                        <li>
                            <p>Convenient access in proximity to highway 30</p>
                        </li>
                        <li>
                            <p>5 different halls suitable for almost any event</p>
                        </li>
                        <li>
                            <p>Combined capacity of 1234 seats</p>
                        </li>
                        <li>
                            <p>Largest hall capacity 550 seats</p>
                        </li>
                        <li>
                            <p>Smallest hall capacity 80 seats</p>
                        </li>
                        <li>
                            <p>Well ventilated and air-conditioned halls</p>
                        </li>
                        <li>
                            <p>Closed in-doors connection with hotel Steel’s</p>
                        </li>
                        <li>
                            <p>High-bandwith internet connection</p>
                        </li>
                        <li>
                            <p>Projectors and screens available for all halls</p>
                        </li>
                        <li>
                            <p>Modern design and convenient planning</p>
                        </li>
                    </ul>
            </div>
        </div>

    </div>

    
    <div class="box-container-2">
        <button class="index-box-p"
                th:onclick="'window.location.href=\'/event/plan' + '\';'">
            <div class="index-box-header">Plan</div>
            <div class="index-box-p-image"></div>
            <div class="hover-overlay-plan">PLAN YOUR EVENT</div>
        </button>
        <button class="index-box-att"
                th:onclick="'window.location.href=\'/event/attend' + '\';'">
            <div class="index-box-header">Attend</div>
            <div class="index-box-att-image"></div>
            <div class="hover-overlay-att">BUY A TICKET</div>
        </button>
    </div>


    <div class="box-container-3">
        <button class="index-box-hot">
            <div class="index-box-header">Accomodation</div>
            <!-- <img src="\static\css\hotel-out-1.jpg" alt="hotel-image"> -->
            <div class="index-box-image-hot"></div>
            <p class="index-box-text2">
                The complex is in the immediate vacinity of Parkside Hotel. Access via a closed passage between the hotel
                and the complex is available. Catering for the complex is served from two restaurants - Branson’s, which
                also caters the hotel and Adler’s.
                Steel’s ensured room availability for guests of the convention center up to 14 days before an
                event.
                Group bookings up to 350 persons are possible for comfortable accomodation.
            </p>
            <div class="hover-overlay">More Information</div>
        </button>
    </div>

    <footer class="site-footer">
        <div class="footer-holder">
            <figure class="footer-logo"><img src="/images/cc-logo.png" alt="img"></figure>
            <p class="footer-text-upper">
                The Cartland Convention Center is owned and proudly managed by Highland Holdings. We leverage the skills and talant of our
                partners to ensure an exciting and sustainable future.
            </p>
            <p class="footer-text-end">
                © Copyright 2024 the Cartland Center.
            </p>
        </div>
        <div class="footer-logo">
            <img src="/images/green-logo.png" alt="greenlogo">
        </div>
        <div class="footer-right">
            <ul>
                <li>
                    <p>Contact Us</p>
                </li>
                <li>
                    <p>Sustainability</p>
                </li>
                <li>
                    <p>FAQs</p>
                </li>
            </ul>
        </div>
    </footer>

  </body>
</html>
