<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\css\reset.css" />
    <link rel="stylesheet" href="\static\css\navbar.css" />
    <link rel="stylesheet" href="\static\css\register.css" />

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <title>Login</title>
</head>
<body>

  <div class="background-overlay"></div>
    <header>
        <div th:replace="~{fragments/navbar}"></div>
    </header>


    <div class="main-container">
        <div class="form-holder">
      
          <form th:action="@{/user/login}" th:method="POST">
            <div class="form-title">
              <h2 class="">Login</h2>
            </div>
    
            <div class="input-wide">
                <label for="email" class="input-label">
                  Email
                </label>
                <input
                  type="text"
                  name="email"
                  id="email"
                  class="input-field"
                />
            </div>
      
            <div class="input-wide">
              <label for="password" class="input-label">
                Password
              </label>
              <input
                type="password"
                name="password"
                id="password"
                class="input-field"
              />
            </div>
      
            <button class="submit-btn">Login</button>
          </form>
        </div>
      </div>
      <style>
        .main-container {
            padding-top: 13rem;
        }
      </style>
</body>
</html>




