<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="\static\css\bootstrap.min.css" />
    <link rel="stylesheet" href="\static\css\main.css" />
    <link rel="stylesheet" href="\static\css\navbar.css" />

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/navbar.css" />

    <script type="text/javascript">
        function upload(uuid) {
            window.location.href = '/event/edit?uuid=' + encodeURIComponent(uuid);
        }
    </script>
</head>
<body>

<div th:replace="~{fragments/navbar}"></div>

    <div class="booking-list">
        <div th:text="${bookingsSize == 0 ? 'No Bookings Yet' : 'My Bookings'}">My Bookings</div>
        <form class="booking-container"
              th:action="@{/event/edit}"
              th:method="GET"
        th:each="event: ${bookings}">
            <div class="booking-content">
                <div th:text="${'Event Date: ' + event.getDateString()}">Event Date: </div>
                <div th:text="${'Booking code: ' + event.getUuid()}">Booking code: </div>
                <div th:text="${'Event Name: ' + event.getName()}">Event Name: </div>
                <div th:text="${'Description: ' + event.getDescription()}">Description: </div>
                <div th:text="${'Organizer: ' + event.getOrganizer()}">Organizer: </div>
                <div th:text="${'Organizer Phone: ' + event.getPhoneNumber()}">Organizer Phone: </div>
                <div th:text="${'Tickets: ' + event.getTickets()}">Tickets: </div>
                <div th:text="${'Hall Name: ' + event.getHallName()}">Hall Name: </div>
                <input type="hidden" name="uuid" th:value="${event.getUuid()}">
                <button  type="submit" class="mb-btn"
                        >Edit</button>
            </div>
        </form>
    </div>

<div th:replace="~{fragments/footer}"></div>

</body>
</html>