<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="\static\css\bootstrap.min.css" />
    <link rel="stylesheet" href="\static\css\main.css" />
    <link rel="stylesheet" href="\static\css\navbar.css" />

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/navbar.css" />

</head>
<body>

    <nav class="nav-bar">
        <div class="shadow-overlay">
            <ul class="header-nav">
                <li class="btn-holder"><button class="cc-logo"><img src="\static\images\cc-logo.png" alt="img"></li>
                <li class="btn-holder halls"><button class="nav-button">Halls</button></li>
                <li class="btn-holder"><button class="nav-button">Featured Events</button></li>
                <li class="btn-holder"><button class="nav-button">Plan Your Event</button></li>
                <li class="btn-holder login"><button class="nav-button">Login</button></li>
                <li class="btn-holder register"><button class="nav-button">Register</button></li>

                <li class="btn-holder">
                    <div class="lang-div">
                        <button class="language-select">
                            <img src="\static\images\lang-uk.png" alt="img">
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="booking-list">
        <div th:text="${bookingsSize == 0 ? 'No Bookings Yet' : 'My Bookings'}">My Bookings</div>
        <div class="booking-container"
        th:each="event: ${bookings}">
            <div class="booking-content">
                <div th:text="${'Event Date: ' + event.getDateString()}">Event Date: </div>
                <div th:text="${'Booking code: ' + event.getUuid()}">Booking code: </div>
                <div th:text="${'Event Name: ' + event.getName()}">Event Name: </div>
                <div th:text="${'Description: ' + event.getDescription()}">Description: </div>
                <div th:text="${'Organizer: ' + event.getOrganizer()}">Organizer: </div>
                <div th:text="${'Organizer Phone: ' + event.getPhoneNumber()}">Organizer Phone: </div>
                <div th:text="${'Tickets: ' + event.getTickets()}">Tickets: </div>
                <div th:text="${'Hall Name: ' + event.getHallName()}">Hall Name: </div>
                <button class="mb-btn">Edit</button>
            </div>
        </div>
    </div>

    <footer class="site-footer">
        <div class="footer-holder">
            <figure class="footer-logo"><img src="\static\images\cc-logo.png" alt="img"></figure>
            <p class="footer-text-upper">
                The Cartland Convention Center is owned and proudly managed by Highland Holdings. We leverage the skills and talant of our
                partners to ensure an exciting and sustainable future.
            </p>
            <p class="footer-text-end">
                © Copyright 2024 the Cartland Center.
            </p>
        </div>
        <div class="footer-logo">
            <img src="\static\images\green-logo.png" alt="greenlogo">
        </div>
        <div class="footer-right">
            <ul>
                <li>
                    <p>Contact Us</p>
                </li>
                <li>
                    <p>Sustainability</p>
                </li>
                <li>
                    <p>FAQs</p>
                </li>
            </ul>
        </div>
    </footer>

</body>
</html>