<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\css\reset.css" />
    <link rel="stylesheet" href="\static\css\navbar.css" />
    <link rel="stylesheet" href="\static\css\register.css" />
    <title>Register</title>
</head>
<body>

  <div class="background-overlay"></div>
    <header>
        <nav class="nav-bar">
            <div class="shadow-overlay">
                <ul class="header-nav">
                    <li class="btn-holder"><button class="cc-logo"><img src="\static\images\cc-logo.png" alt="img"></li>
                    <li class="btn-holder"><button class="nav-button">Halls</button></li>
                    <li class="btn-holder"><button class="nav-button">Featured Events</button></li>
                    <li class="btn-holder"><button class="nav-button">Accomodation</button></li>
                    <li class="btn-holder"><button class="language-select"><img src="\static\images\lang-uk.png" alt="img"></li>
                </ul>
            </div>
        </nav>
    </header>


    <div class="main-container">
        <div class="form-holder">
      
          <form action="" method="">
            <div class="form-title">
              <h2 class="">Register and plan your first event</h2>
              <p>
                We will send you a confirmation email with an activation link in order to activate your account.
              </p>
            </div>
      
            <div class="input-field-flex">
              <div>
                <label for="firstname" class="input-label">
                  First name
                </label>
                <input
                  type="text"
                  name="firstname"
                  id="firstname"
                  class="input-field"
                />
              </div>
              <div>
                <label for="lastname" class="input-label"> Last name </label>
                <input
                  type="text"
                  name="lastname"
                  id="lastname"
                  class="input-field"
                />
              </div>
            </div>
      
            <div class="input-field-flex">
              <div>
                <label for="email" class="input-label"> Email </label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="input-field"
                />
              </div>
              <div>
                <label for="phone" class="input-label"> Phone number </label>
                <input
                  type="text"
                  name="phone"
                  id="phone"
                  class="input-field"
                />
              </div>
            </div>
      
            <div class="input-wide">
              <label for="password" class="input-label">
                Password
              </label>
              <input
                type="password"
                name="password"
                id="password"
                class="input-field"
              />
            </div>
      
            <div class="input-wide">
              <label for="confirmPassword" class="input-label">
                Confirm Password
              </label>
              <input
                type="password"
                name="confirmPassword"
                id="confirmPassword"
                class="input-field"
              />
            </div>

            <button class="submit-btn">Register Now</button>
          </form>
        </div>
      </div>
</body>
</html>




