<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<body>
<footer class="site-footer">
    <div class="footer-holder">
        <figure class="footer-logo"><img src="/images/cc-logo.png" alt="img"></figure>
        <p class="footer-text-upper">
            The Cartland Convention Center is owned and proudly managed by Highland Holdings. We leverage the skills
            and talant of our
            partners to ensure an exciting and sustainable future.
        </p>
        <p class="footer-text-end">
            © Copyright 2024 the Cartland Center.
        </p>
    </div>
    <div class="footer-logo">
        <img src="/images/green-logo.png" alt="greenlogo">
    </div>
    <div class="footer-right">
        <ul>
            <li>
                <p>Contact Us</p>
            </li>
            <li>
                <p>Sustainability</p>
            </li>
            <li>
                <p>FAQs</p>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>